[
    {kernel, [
        {distributed, [
            {cron, 2500,
                [node1@localhost, node2@localhost]
            }
        ]},
        {sync_nodes_mandatory, [
            node1@localhost
        ]},
        {sync_nodes_optional, [
            node2@localhost
        ]},
        {sync_nodes_timeout, 2500}
    ]}
].
