{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{plugins, [rebar3_appup_plugin]}.

{provider_hooks, [
      {pre, [{tar, {appup, tar}}]},
      {post, [{compile, {appup, compile}},
              {clean, {appup, clean}}]}
]}.

{relx, [
    {release, {ascensor, "0.2.0"}, [
        kernel,
        stdlib,
        sasl,
        ascensor
    ]},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {overlay, [{mkdir, "docs"},
               {copy, "COPYING", "docs/LICENSE.txt"},
               {copy, "README.md", "docs/README.md"},
               {copy, "extensions/check", "extensions/check"},
               {template, "docs/INFO", "docs/INFO.txt"}]},
    {extended_start_script_extensions, [
        {check, "extensions/check"}
    ]}
]}.
