{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{edoc_opts, [
    {private, true},
    {todo, true}
]}.

{relx, [
    {release, {ascensor, "0.2.0"}, [
        kernel,
        stdlib,
        sasl,
        ascensor
    ]},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.
